params {
  igenomes_base = '/home/springer/zhoux379/git/nf/igenomes'
  igenomes_ignore = true
  saveReference = true

  genomes {
    'Zmays_B73' {
      fasta = "$ref/10_genome.fna"
      bwa = "$ref/21_dbs/bwa/db"
      star = "$ref/21_dbs/star/"
      bismark = "$ref/21_dbs/bismark"
      gtf = "$ref/50_annotation/15.gtf"
      bed12 = "$ref/50_annotation/15.bed"
      macs_gsize = 2.1e9
    }
  }
}
