//Profile config names for nf-core/configs
params {
  config_profile_description = 'Minnesota Supercomputing Institute HPC cluster profile'
  config_profile_contact = 'Peng Zhou (@orionzhou)'
  config_profile_url = 'https://github.com/orionzhou/nf'
}

singularity {
  enabled = true
  cacheDir = '/home/springer/zhoux379/git/nf/singularity'
}

process {
  beforeScript = 'module load singularity'
  executor = 'pbs'
}

params {
  igenomes_base = '/home/springer/zhoux379/git/nf/igenomes'
  igenomes_ignore = true
  saveReference = true

  max_memory = 60.GB
  max_cpus = 24
  max_time = 140.h
}
