process.conda = "$NXF_CONDA_CACHEDIR/nf-core-nanoseq"

if (params.guppy_gpu) {
  docker.runOptions      = '--gpus all'
  singularity.runOptions = '--nv'
}

process {
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries    = 2
  maxErrors     = '-1'

  // Process-specific requirements
  withName:GUPPY {
    if (params.guppy_gpu) {
      container = 'genomicpariscentre/guppy-gpu:4.0.14'
      clusterOptions = params.gpu_cluster_options
    } else {
      container = 'genomicpariscentre/guppy:4.0.14'
    }
  }
  withName:PYCOQC {
    container = 'quay.io/biocontainers/pycoqc:2.5.0.21--py_0'
  }
  withName:UCSC_BEDGRAPHTOBIGWIG {
    if ({ task.exitStatus in [255] }) { errorStrategy = 'ignore' }
  }
  withName:UCSC_BED12TOBIGBED {
    if ({ task.exitStatus in [255] }) { errorStrategy = 'ignore' }
  }
  withName:GET_SOFTWARE_VERSIONS {
  	executor = 'local'
    cache = false
  }
  withName:Output_documentation { executor = 'local' }
}
