process.conda = '/home/springer/zhoux379/software/miniconda3/envs/barn'

params {
  sra_dir = '/home/springer/zhoux379/projects/barn/data/06_local_list'
  local_dir = '/home/springer/zhoux379/projects/barn/data/09_sra_list'
  meta_dir = "/home/springer/zhoux379/projects/barn/data/15_read_list"
  fq_dir = '/scratch.global/zhoux379/barn/data/fastq'
}

process {
  withName:version { executor = 'local' }
  withName:outdoc { executor = 'local' }
  withName:mqc {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 5.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 5.h * task.attempt, 'time' ) }
  }
}
