process {
  withName:CheckDesign { executor = 'local' }
  withName:preseq {
    cpus = 1
    memory = 25.GB
    time = 10.h
  }
  withName:PlotProfile { cpus = 2 }
  withName:BWAMem {
    cpus = 8
    memory = 45.GB
    time = 60.h
  }
  withName:multiqc {
    cpus = 1
    memory = 35.GB
    time = 15.h
  }
}
