process {
  withName:CheckDesign { executor = 'local' }
  withName:Preseq {
    cpus = 1
    memory = 25.GB
    time = 10.h
  }
  withName:PlotProfile { cpus = 2 }
  withName:BWAMem {
    cpus = 8
    memory = 45.GB
    time = 5.h
  }
  withName:MultiQC {
    cpus = 1
    memory = 35.GB
    time = 15.h
  }
}
