process.conda = '/home/springer/zhoux379/software/miniconda3/envs/chipseq'

params {
  qcdir = '/home/springer/zhoux379/projects/chipseq/data/11_qc'
  webdir = '/home/springer/zhoux379/git/orionzhou.github.io/public/multiqc'
}

process {
  withName:fmt { executor = 'local' }
  withName:pseq {
    cpus = 1
    memory = 25.GB
    time = 10.h
  }
  withName:metaplot {
    cpus = 2
    memory = 35.GB
    time = 5.h
  }
  withName:bwa {
    cpus = 8
    memory = 45.GB
    time = 5.h
  }
  withName:mqc {
    cpus = 1
    memory = 35.GB
    time = 15.h
  }
}
