process {
  withName:fqu {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 5.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 5.h * task.attempt, 'time' ) }
  }
  withName:fqd {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 5.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 5.h * task.attempt, 'time' ) }
  }
  withName:fqz {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 5.h * task.attempt, 'time' ) }
  }
  withName:fqv {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 10.h + 5.h * task.attempt, 'time' ) }
  }
  withName:upd {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 5.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 1.h * task.attempt, 'time' ) }
  }
}
