params {
  igenomes_base = '/home/springer/zhoux379/projects/nf/igenomes'
  igenomes_ignore = true
  saveReference = false

  genomes {
    'Zmays_B73' {
      fasta = "$ref/10_genome.fna"
      star = "$ref/21_dbs/star/"
      hisat2 = "$ref/21_dbs/hisat2/B73_vt01/db"
      //hisat2 = "$ref/21_dbs/hisat2/db"
      hisat2_ss = "$ref/21_dbs/hisat2/db.ss"
      bwa = "$ref/21_dbs/bwa/db"
      bismark = "$ref/21_dbs/bismark"
      gff = "$ref/50_annotation/10.gff"
      gtf = "$ref/50_annotation/10.gtf"
      bed12 = "$ref/50_annotation/10.bed"
      tx2gene = "$ref/50_annotation/10.tx2gene.csv"
      // windows
      win11 = "$ref/15_intervals/20.win11.tsv"
      win56 = "$ref/15_intervals/20.win56.tsv"
      win127 = "$ref/15_intervals/20.win127.tsv"
      // rnaseq
      transcript_fasta = "$ref/50_annotation/10.fna"
      salmon = "$ref/21_dbs/salmon/db"
      rcfg = "$ref/55.rds"
      fc_group_features = 'gene_id'
      fc_group_features_type = 'gene_biotype'
      // smrnaseq
      mirna_gtf = '$ref/mirbase/02.gff'
      // chipseq
      fingerprint_bins = 500000
      keep_dups = false
      keep_multi_map = false
      broad_cutoff = 0.00001
      macs_gsize = 2.1e9
      // atacseq
      // mnaseseq
      // methylseq
    }
  }
}
