params {
  igenomes_base = '/home/springer/zhoux379/projects/nf/igenomes'
  igenomes_ignore = true
  saveReference = false

  genomes {
    'Zmays_B73' {
      fasta = "$ref/10_genome.fna"
      bwa = "$ref/21_dbs/bwa/db"
      star = "$ref/21_dbs/star/"
      bismark = "$ref/21_dbs/bismark"
      gff = "$ref/50_annotation/10.gff"
      gtf = "$ref/50_annotation/10.gtf"
      transcript_fasta = "$ref/50_annotation/10.fna"
      bed12 = "$ref/50_annotation/10.bed"
      // smrnaseq
      mirna_gtf = '$ref/mirbase/02.gff'
      // rnaseq
      fc_group_features = 'gene_id'
      fc_group_features_type = 'gene_biotype'
      // chipseq
      fingerprint_bins = 500000
      keep_dups = false
      keep_multi_map = false
      broad_cutoff = 0.00001
      macs_gsize = 2.1e9
      // atacseq
      // mnaseseq
      // methylseq
    }
  }
}
