params {
  igenomes_base = '/home/springer/zhoux379/projects/nf/igenomes'
  igenomes_ignore = true
  save_reference = false

  genomes {
    'Zmays_B73' {
      fasta = "$ref/10_genome.fna"
      fasta_idx = "$ref/10_genome.fna.fai"
      genome_bed = "$ref/15_intervals/01.chrom.bed"
      genome_sizes = "$ref/15_intervals/01.chrom.sizes"
      star = "$ref/21_dbs/star/"
      hisat2 = "$ref/21_dbs/hisat2/B73_vt01/db"
      //hisat2 = "$ref/21_dbs/hisat2/db"
      hisat2_ss = "$ref/21_dbs/hisat2/db.ss"
      bwa = "$ref/21_dbs/bwa/db"
      bismark = "$ref/21_dbs/bismark"
      gff = "$ref/50_annotation/10.gff"
      gtf = "$ref/50_annotation/10.gtf"
      bed12 = "$ref/50_annotation/10.bed"
      // windows
      win11 = "$ref/15_intervals/20.win11.tsv"
      win56 = "$ref/15_intervals/20.win56.tsv"
      win127 = "$ref/15_intervals/20.win127.tsv"
      // rnaseq
      transcript_fasta = "$ref/50_annotation/10.fna"
      salmon = "$ref/21_dbs/salmon/db"
      tx2gene = "$ref/21_dbs/salmon/tx2gene.csv"
      rcfg = "$ref/55.rds"
      fc_group_features = 'gene_id'
      fc_group_features_type = 'gene_biotype'
      // smrnaseq
      mirna_gtf = '$ref/mirbase/02.gff'
      // chipseq
      macs_gsize = 2.1e9
      tss_bed = "$ref/50_annotation/10.tss.bed"
      // atacseq
      // mnaseseq
      // methylseq
      bismark = "$ref/21_dbs/bismark"
    }
    'Zmays_Mo17' {
      fasta = "$genome/data/Zmays_Mo17/10_genome.fna"
      fasta_idx = "$genome/data/Zmays_Mo17/10_genome.fna.fai"
      star = "$genome/data/Zmays_Mo17/21_dbs/star/"
      hisat2 = "$genome/data/Zmays_Mo17/21_dbs/hisat2/B73_vt01/db"
      //hisat2 = "$genome/data/Zmays_Mo17/21_dbs/hisat2/db"
      hisat2_ss = "$genome/data/Zmays_Mo17/21_dbs/hisat2/db.ss"
      bwa = "$genome/data/Zmays_Mo17/21_dbs/bwa/db"
      bismark = "$genome/data/Zmays_Mo17/21_dbs/bismark"
      gff = "$genome/data/Zmays_Mo17/50_annotation/10.gff"
      gtf = "$genome/data/Zmays_Mo17/50_annotation/10.gtf"
      bed12 = "$genome/data/Zmays_Mo17/50_annotation/10.bed"
      // rnaseq
      transcript_fasta = "$genome/data/Zmays_Mo17/50_annotation/10.fna"
      salmon = "$genome/data/Zmays_Mo17/21_dbs/salmon/db"
      tx2gene = "$genome/data/Zmays_Mo17/21_dbs/salmon/tx2gene.csv"
      rcfg = "$genome/data/Zmays_Mo17/55.rds"
      fc_group_features = 'gene_id'
      fc_group_features_type = 'gene_biotype'
      // smrnaseq
      mirna_gtf = '$genome/data/Zmays_Mo17/mirbase/02.gff'
      // chipseq
      fingerprint_bins = 500000
      keep_dups = false
      keep_multi_map = false
      broad_cutoff = 0.00001
      macs_gsize = 2.1e9
      // atacseq
      // mnaseseq
      // methylseq
      bismark = "$genome/data/Zmays_Mo17/21_dbs/bismark"
    }
    'Zmays_W22' {
      fasta = "$genome/data/Zmays_W22/10_genome.fna"
      fasta_idx = "$genome/data/Zmays_W22/10_genome.fna.fai"
      star = "$genome/data/Zmays_W22/21_dbs/star/"
      hisat2 = "$genome/data/Zmays_W22/21_dbs/hisat2/db"
      hisat2_ss = "$genome/data/Zmays_W22/21_dbs/hisat2/db.ss"
      bwa = "$genome/data/Zmays_W22/21_dbs/bwa/db"
      bismark = "$genome/data/Zmays_W22/21_dbs/bismark"
      gff = "$genome/data/Zmays_W22/50_annotation/10.gff"
      gtf = "$genome/data/Zmays_W22/50_annotation/10.gtf"
      bed12 = "$genome/data/Zmays_W22/50_annotation/10.bed"
      // rnaseq
      transcript_fasta = "$genome/data/Zmays_W22/50_annotation/10.fna"
      salmon = "$genome/data/Zmays_W22/21_dbs/salmon/db"
      tx2gene = "$genome/data/Zmays_W22/21_dbs/salmon/tx2gene.csv"
      rcfg = "$genome/data/Zmays_W22/55.rds"
      fc_group_features = 'gene_id'
      fc_group_features_type = 'gene_biotype'
      // smrnaseq
      mirna_gtf = '$genome/data/Zmays_W22/mirbase/02.gff'
      // chipseq
      fingerprint_bins = 500000
      keep_dups = false
      keep_multi_map = false
      broad_cutoff = 0.00001
      macs_gsize = 2.1e9
      // atacseq
      // mnaseseq
      // methylseq
      bismark = "$genome/data/Zmays_W22/21_dbs/bismark"
    }
  }
}
