/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

params {
  // config_profile_name = 'KN1'
  // config_profile_description = 'KN1 ChIP-Seq'
  genome = 'Zmays_B73'

  // For speed to avoid CI time-out
  fingerprint_bins = 500000

  // input = 'o2.csv'
  // outdir = "$NXF_CACHE/raw/o2"
}
