process.conda = "$NXF_CONDA_CACHEDIR/mmm"

process {
  withName:version { executor = 'local' }
  withName:seqret {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 5.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 1.h * task.attempt, 'time' ) }
  }
  withName:fimo {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 5.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 1.h * task.attempt, 'time' ) }
  }
  withName:meme {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 30.h + 1.h * task.attempt, 'time' ) }
  }
  withName:getfasta1 {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 10.GB + 5.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 1.h * task.attempt, 'time' ) }
  }
  withName:getfasta2 {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 10.GB + 5.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 1.h * task.attempt, 'time' ) }
  }
  withName:dreme {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 40.GB + 5.GB * task.attempt, 'memory' ) }
    time = { check_max( 85.h + 1.h * task.attempt, 'time' ) }
  }
  withName:ml2 {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 30.GB + 5.GB * task.attempt, 'memory' ) }
    time = { check_max( 20.h + 10.h * task.attempt, 'time' ) }
  }
  withName:mg_ml {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 50.GB + 5.GB * task.attempt, 'memory' ) }
    time = { check_max( 3.h + 1.h * task.attempt, 'time' ) }
  }
}

