process {
  withName:preseq {
    cpus = 1
    memory = 25.GB
    time = 10.h
  }
  withName:bwaMEM {
    cpus = 8
    memory = 35.GB
    time = 60.h
  }
  withName:danpos {
    cpus = 1
    memory = 50.GB
    time = 30.h
  }
  withName:multiqc {
    cpus = 1
    memory = 35.GB
    time = 15.h
  }
}
