env.TMPDIR = '/scratch.global/zhoux379/nf/tmp/'

executor {
  $pbs {
    //queueSize = 50
    pollInterval = '10sec'
    jobName = { "${task.process}.${task.tag}" }
  }

  $local {
    cpus = 1
    memory = 30.GB
  }
}

singularity {
  enabled = false
  autoMounts = true
  cacheDir = '/scratch.global/zhoux379/nf/singularity'
  runOptions = '-B /scratch.global/zhoux379/nf/tmp/'
}

conda {
  enabled = true
  cacheDir = '/scratch.global/zhoux379/nf/conda'
}

process {
  beforeScript = 'module load singularity'
  executor = 'pbs'

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}


