env.TMPDIR = "$NXF_TEMP"

executor {
  $slurm {
    //queueSize = 50
    pollInterval = '10sec'
    jobName = { "${task.process}.${task.tag}" }
  }

  $local {
    cpus = 1
    memory = 30.GB
  }
}

singularity {
  enabled = false
  autoMounts = true
  cacheDir = "$NXF_CACHE/singularity"
  runOptions = "-B $NXF_TEMP"
}

conda {
  enabled = true
}

process {
  beforeScript = 'module load singularity'
  executor = 'slurm'

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}


