params {
  aligner = 'hisat2'
  removeRiboRNA = false
  star_index = "$ref/21_dbs/star/"
  hisat2_index = "$ref/21_dbs/hisat2/B73_vt01/db"
  transcript_fasta = "$ref/50_annotation/10.fna"
  pseudo_aligner = 'salmon'
}

process {
  withName:preseq {
    cpus = 1
    memory = 25.GB
    time = 10.h
  }
  withName:hisat2Align {
    cpus = 4
    memory = 35.GB
    time = 15.h
  }
  withName:markDuplicates {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 15.h + 10.h * task.attempt, 'time' ) }
  }
  withName:multiqc {
    cpus = 1
    memory = 35.GB
    time = 15.h
  }
}
