process.conda = "$NXF_CONDA_CACHEDIR/rnaseq"

params {
  qcdir = "$proj/rnaseq/data/11_qc"
  s3dir = "$proj/s3/zhoup-multiqc"
  ase_dir = "$proj/reseq/data/ase_bcf"
  ril_sites = "$proj/reseq/data/variants/Mo17.tsv.gz"
  ril_sites_idx = "$proj/reseq/data/variants/Mo17.tsv.gz.tbi"
  win10 = "$ref/15_intervals/20.win10.tsv"
  win11 = "$ref/15_intervals/20.win11.tsv"
  win56 = "$ref/15_intervals/20.win56.tsv"
  win127 = "$ref/15_intervals/20.win127.tsv"
}

process {
  withName:version { executor = 'local' }
  withName:outdoc { executor = 'local' }
  //withName:hs2Idx {
    //cpus = { check_max( 6, 'cpus' ) }
    //memory = { check_max( 150.GB + 100.GB * task.attempt, 'memory' ) }
    //time = { check_max( 5.h * task.attempt, 'time' ) }
  //}
  withName:trim {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 15.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  //withName:sortmerna {
    //cpus = { check_max( 4, 'cpus' ) }
    //memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    //time = { check_max( 0.h + 10.h * task.attempt, 'time' ) }
    //maxRetries = 2
  //}
  withName:star {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 30.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 10.h * task.attempt, 'time' ) }
  }
  withName:hs2 {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 10.h * task.attempt, 'time' ) }
  }
  withName:bamsort {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 5.h * task.attempt, 'time' ) }
  }
  withName:pseq {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 0.h + 10.h * task.attempt, 'time' ) }
  }
  withName:markdup {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 10.h * task.attempt, 'time' ) }
  }
  withName:fcnt {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 5.h * task.attempt, 'time' ) }
  }
  withName:salm {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 25.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 0.h + 10.h * task.attempt, 'time' ) }
  }
  withName:ase2 {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 5.h * task.attempt, 'time' ) }
  }
  withName:cage2 {
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 50.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 1.h * task.attempt, 'time' ) }
  }
  withName:mqc {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 5.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 5.h * task.attempt, 'time' ) }
  }
  withName:ril1 {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 30.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 20.h + 10.h * task.attempt, 'time' ) }
  }
  withName:ril2 {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 10.h + 10.h * task.attempt, 'time' ) }
  }
}
